<div class="container mt-4">
    <div class="d-flex flex-row flex-wrap justify-content-center" style="gap:50px;">
        <div class="d-flex flex-column justify-content-center" *ngFor="let product of products">
            <a routerLink="product-detail/{{ product.id }}">
                <img class="product-image" src='{{ product.image }}'>
            </a>
            <div class="product-detail"><b>{{ product.name }}</b></div>
            <div class="product-detail">$ {{ product.price }}</div>

            <form class="d-flex flex-column justify-content-center" (ngSubmit)="onSubmit(product, $event)">
                <select class="product-detail form-select" aria-label="Default select example">
                    <option *ngFor="let product_option of productCount" [ngValue]="product_option"
                        [selected]="product_option === '1'">
                        {{ product_option }}
                    </option>
                </select>
                <input type="submit" value="Add to Cart" class="product-detail btn btn-primary">
            </form>
        </div>
    </div>
</div>