<div class="container mt-4">
    <div class="d-flex flex-row flex-wrap justify-content-center" style="gap:50px;">
        <div class="d-flex flex-column justify-content-center" *ngFor="let product of products">
            <a routerLink="detail/{{ product.id }}">
                <img class="product-image" src='{{ product.image }}'>
            </a>
            <div class="product-detail"><b>{{ product.name }}</b></div>
            <div class="product-detail">$ {{ product.price }}</div>

            <form class="d-flex flex-column justify-content-center" (ngSubmit)="onSubmit(product, $event)">
                <select class="product-detail form-select" aria-label="Default select example">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                </select>
                <input type="submit" value="Add to Cart" class="product-detail btn btn-primary">
            </form>
        </div>
    </div>
</div>